package $pkg;
#set($pojoName=${nameUtil.firstUpperPasical($table.name)})
import org.springframework.stereotype.Repository;
import com.tg.db.common.BaseDao;

@Repository
public class ${pojoName}Dao extends BaseDao<${pojoName}>{
	
}
